*{
 padding: 0;   
 margin: 0;
 box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 100vh; */
}
nav{
    background-color: hsl(180, 29%, 50%) ;
    height: 80px;
    background-image: url("./images/bg-header-desktop.svg");
    position: relative;
    margin-bottom: 20px;
}
nav .search{
    position: absolute;
    bottom: -1%;
    left: 25%;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
nav .search p{
    margin: 0px 10px;
}
main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
main section{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: 3px 3px 10px black;
    padding: 20px;
    border-radius: 10px;
    border-left: 3px solid hsl(180, 29%, 50%);
}
main section .image{
    width: 100px;
    height: 100px;
    margin: 0px 10px;
}

main section .info{
    display: flex;
    /* width: 60%; */
    /* border: 3px solid black; */
}
main section .info .infoLeftTop{
    display: flex;
    margin: 10px 0px;

}
main section .info .infoLeftTop h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px;
    color:  hsl(180, 29%, 50%);
}
main section .info .infoLeftTop h3:nth-child(2){
    background-color: hsl(180, 29%, 50%);
    color: white;
    padding: 3px 8px;
    border-radius: 10px;   
}
main section .info .infoLeftTop h3:nth-child(3){
    background-color: hsl(180, 14%, 20%) ;
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
}

main section .info .infoLeftMiddle{
    margin: 10px 0px;
}

main section .info .infoLeftBottom{
    display: flex;
}
main section .info .infoLeftBottom p{
    margin: 0px 10px;
    color: hsl(180, 14%, 20%)   ;
}
main section .infoRightInner{
    display: flex;
    margin-left: 20px;
    /* justify-self: end; */
}
main section .infoRightInner button{
    margin: 10px;
    padding: 0px;
    /* padding: 10px 10px; */
    border-radius: 10px;
    background-color: hsl(180, 21%, 88%) ;
    color:  hsl(180, 59%, 36%);
    border: none;
    cursor: pointer;
}